img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

/* Kuvien tyyli normaalitilassa */
.kuvatiedot figure {
    width: 280px;
    height: 280px;
    margin: 10px;
    overflow: hidden;
    transition: all 0.5s; /* 0.5s siirtymä actioniin hiiren mennessä kuvan päälle */
}

/* Kuvien tyyli hover-tilassa */
.kuvatiedot figure:hover {
    width: 300px;
    height: 300px;
}

/* Gridin asetukset */
.kuvat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px; 
}

.kuvatiedot {
    margin: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Ponnahdusikkunan säädöt */
figcaption {
    display: none;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 6, 6, 0.7);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lightbox img {
    max-width: 50%;
    max-height: 50%;
    margin: 5% auto;
    display: block;
    cursor: pointer;
}

.lightbox p {
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

.lightbox button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
