/* yleiset asetukset kaikille sivuille */

body {
    background-color: white; 
    font-family: Georgia, serif;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000; 
}

header {
    background-color: rgb(217, 171, 80);
    color: rgb(9, 9, 9);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.main-navbar {
    background-color: rgb(244, 244, 116);
    text-align: center;
}

.main-navbar ul {
    list-style-type: none;
    padding: 0;
}

.main-navbar ul li {
    display: inline;
    margin-right: 20px;
}

.main-navbar a {
    color: rgb(8, 8, 8);
    text-decoration: none;
}

.navbar2 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h1 {
    text-align: center;
}

h2 {
    background-color: rgb(238, 227, 227);
    color: rgb(11, 11, 11);
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    display: inline-block;
    border: 1px solid #888;
    margin-right: 10px;
    border-radius: 10px;
}

section {
    background-color: rgb(217, 171, 80);
    border: 1px solid #888;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

/* Etusivun tablen asetukset */

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
