body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#kysymys-ja-vaihtoehdot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

#kysymys {
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    background-color: #e98811;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #b37700;
}

#tulos-container {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

/* Vastausvaihtoehdot */
.vastauslaatikko {
    border: 2px solid #e98811; 
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.vastauslaatikko:hover {
    transform: scale(1.1);
}

.valittu {
    background-color: #007BFF;
    color: #fff;
}

